@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --radius: 0.5rem;
    --background: 151 100% 95%;
    --foreground: 151 5% 0%;
    --card: 151 50% 90%;
    --card-foreground: 151 5% 10%;
    --popover: 151 100% 95%;
    --popover-foreground: 151 100% 0%;
    --primary: 151 65% 42%;
    --primary-foreground: 0 0% 100%;
    --secondary: 151 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 113 30% 85%;
    --muted-foreground: 151 5% 35%;
    --accent: 113 30% 80%;
    --accent-foreground: 151 5% 10%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 151 5% 90%;
    --border: 151 30% 50%;
    --input: 151 30% 18%;
    --ring: 151 65% 42%;
  }
  .dark {
    --background: 151 50% 5%;
    --foreground: 151 5% 90%;
    --card: 151 50% 0%;
    --card-foreground: 151 5% 90%;
    --popover: 151 50% 5%;
    --popover-foreground: 151 5% 90%;
    --primary: 151 65% 42%;
    --primary-foreground: 0 0% 100%;
    --secondary: 151 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 113 30% 15%;
    --muted-foreground: 151 5% 60%;
    --accent: 113 30% 15%;
    --accent-foreground: 151 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 151 5% 90%;
    --border: 151 30% 18%;
    --input: 151 30% 18%;
    --ring: 151 65% 42%;
  }
}
